* {
    box-sizing: border-box;
}


h1 {
    margin-bottom: 25px;
    background-color: rgb(247, 150, 214);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

button {
    border: 1px black solid;
    background: none;
    box-shadow: 10px 0px 5px black;
    border-radius: 30px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 50px;
    transition: all 1s ease;
}
button:hover {
    box-shadow: 0px, 0px, 5px, purple;
    border: 1px purple solid;
    background: white;
    transform: rotateZ(20deg)
}
.container {
   justify-content: start;
}
img{
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
}
#concert {
    width: 115%;
    height: 100%
}
body {
    background-image: linear-gradient(#12f7f7, #9ceff5);
}
.card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-image: linear-gradient(#fae954, #faf096);
  }
  
  .card header {
    padding: 20px;
    background: #d271ff;
    color: #fff;
  }
  
  .card img {
    width: 100%;
    padding: 20px;
    /* The client insists that images be at least 400px */
    min-width: 400px;
    right: 50px;
    border-radius: 25px;
  }
  main {
    display: flex;
    margin-top: 2%;
    width: 100%;
    flex-wrap: wrap; /* by default: it is nowrap */
  }
  
  .main-header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: #d271ff;
    color: #fff;
  }